<appSettings>
  <add key="FacebookAppId" value="175061923103317"/>
  <add key="FacebookAppSecret" value="cbf8070d20f7495fc540c0d7434457c2"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
