@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "List";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-danger" })

<table id="movies" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var Movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(Movie.Name, "Edit", "Movies", new { id = Movie.Id }, null)</td>
                    <td>@Movie.Genre.Name</td>
                </tr>
            }*@
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.Id + "'>" + data + "</a>"
                        }
                    },
                    {
                        data: "Genre.Name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}